
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

body {
    background-color: #efefeb;

    #container {
        max-height: 100%;

        #header {
            height: 80px;
            border-bottom: 1px solid gray;
            position: relative;

            #logo, input, #search {
                display: inline-block;
            }

            #logo {
                padding-left: 3rem;
                color: #f56400;
                font-family: Times, Arial, sans-serif;
            }

            input:focus {
                outline: none;
            }

            #search {
                background-color: #4fa9c6;
                color: white;
            }
        }

        #listings .items {
            position: relative;
            display: inline-block;
            margin: 1rem 3rem 1rem 3rem;
            padding: .5rem;
            border: 1px solid gray;
            border-radius: 2%;
            background-color: #ffffff;
            height: 300px;
            width: 300px;
        }

        #listings .items img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
        }
        
        .items:hover {
            cursor: pointer;
        }

        #listings .items .title {
            position: absolute;
            top: 76%;
        }

        #listings .items .price {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translateX(-70%);
        }
    }
}














